.pagination {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.page_link {
  cursor: pointer;

  display: inline-flex;
  align-items: center;

  padding: 0.625rem 0.938rem;

  font-style: italic;
  text-decoration: none;

  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;

  &:hover {
    background-color: var(--color-light-200);
  }
}

.page_link[datatype='active'] {
  > p {
    color: var(--color-success);
  }
}
