@mixin icons {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.25rem;
  height: 1.25rem;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;

  background: var(--color-dark-300);

  .inputContainer {
    position: relative;
    width: 100%;

    .input {
      display: flex;
      align-items: center;

      width: 100%;
      padding-right: 0.75rem;
      padding-left: 0.75rem;

      font-family: Roboto, sans-serif;
      font-size: 1rem;
      line-height: 2.25rem;
      color: var(--color-light-100);

      background-color: transparent;
      border: 1px solid var(--color-dark-300);
      border-radius: 0.125rem;

      &:disabled {
        color: var(--color-dark-300);

        &::placeholder {
          font-size: 0.875rem;
          font-weight: 400;
          color: var(--color-dark-300);
        }
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus {
        box-shadow: 0 0 0 1.875rem var(--color-dark-300) inset !important;

        -webkit-text-fill-color: var(--color-dark-100) !important;
      }

      &:enabled:hover {
        background-color: var(--color-dark-300);
      }

      &:enabled:active {
        border-color: var(--color-light-100);

        &::placeholder {
          color: var(--color-light-100);
        }
      }

      &:enabled:not(:focus):hover {
        background-color: var(--color-dark-300);
        border-color: var(--color-dark-100);
      }

      &[type='search']::-webkit-search-cancel-button {
        cursor: pointer;
        width: 1rem;
        height: 1rem;
        appearance: none;
      }
    }

    .search {
      padding: 1.125rem 0 0.938rem 1.625rem;
    }

    .searchIcon {
      @include icons;

      right: 1.5rem;
    }
  }
}

.error {
  position: absolute;
  bottom: -3.7rem;
  left: 0;

  display: flex;
  align-items: center;

  height: 1.13rem;
}

.inputError {
  color: var(--color-danger-300) !important;
  border-color: var(--color-danger-300) !important;
}

.label {
  position: relative;
  width: 100%;
}
